<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${aines.getNimi()}">Otsikko</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" media="all" href="/css/tyylit.css"/>
    </head>

    <body>
        <div class="topnav">
            <a href="/">Etusivu</a>
            <a href="/pirtelot">Pirtel&ouml;t</a>
            <a href="/raakaaineet">Raaka-aineet</a>
        </div>

        <h1 th:text="${aines.nimi}">Aineksen nimi</h1>

        <p>Olet saapunut aineksen <span th:text="${aines.nimi}">aines
            </span> sivulle.</p>
        
        <br/><br/>
        <div th:with="ehto=${pirtelot.isEmpty() != false}">
      
            <span th:if="${ehto}">Ainesta ei ole k&auml;ytetty viel&auml; miss&auml;&auml;n pirtel&ouml;reseptiss&auml;.</span>
            
            <span th:unless="${ehto}" th:text="'Ainesta ' + ${aines.nimi} + ' k&auml;ytet&auml;&auml;n seuraavissa pirtel&ouml;resepteiss&auml;:'">aines</span>
        </div>
        <ol>
            <li th:each="p: ${pirtelot}">            
                <a th:href="'/pirtelot/' + ${p.id}"><span th:text="${p.nimi}">Pirtel&ouml;n nimi</span></a>
            </li>
        </ol>
        

        <form method="POST" th:action="'/raakaaineet/' + ${aines.id}">
            <input type="submit" value="Poista raaka-aine"/>
        </form>
    </body>
</html>
