<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Pirtelölista</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>hei!</h1>
        
        <p>Fantin pirtelövalikoima</p>
        <ol>
            <li th:each="pirtelo: ${pirtelot}">
                <span th:text="${pirtelo.getNimi()}">Pirtelön nimi</span>
            </li>
        </ol>
        
        <p>
        <form method="POST" action="/pirtelot">
            Lisää pirtelöresepti:<br/>
            <input type="text" name="pirtelö"/><br/>
            <input type="submit" value="Lisää pirtelö"/>
        </form>
        </p>
        
        <p>
            <a href="/raakaaineet"><button>Tästä tsekkaamaan raaka-aineita.</button></a><br/><br/>
            <a href="/"><button>Tästä etusivulle.</button></a>
        </p>
    </body>
</html>
