<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Pirtel&ouml;lista</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="all" href="/css/tyylit.css"/>
    </head>

    <body>

        <div class="topnav">
            <a href="/">Etusivu</a>
            <a class="active" href="/pirtelot">Pirtel&ouml;t</a>
            <a href="/raakaaineet">Raaka-aineet</a>
        </div>

        <h1>Pirtel&ouml;t</h1>
        
        <form method="POST" action="/pirtelot">
            Lis&auml;&auml; pirtel&ouml;resepti:<br/>
            <input type="text" name="pirtelo" required="required"/><br/>
            <input type="submit" value="Lis&auml;&auml; pirtel&ouml;"/>
        </form>

        <h4>Fantin pirtel&ouml;valikoima</h4>
        <ol>
            <li th:each="pirtelo: ${pirtelot}">            
                <a th:href="'pirtelot/' + ${pirtelo.id}"><span th:text="${pirtelo.nimi}">Pirtel&ouml;n nimi</span></a>
            </li>
        </ol>

        

<!--        <form method="POST" action="/pirtelot/aines">
            <br/><br/><b>Lis&auml;&auml; pirtel&ouml;&ouml;n aines:</b><br/>
            Valitse pirtel&ouml;:<br/>
            <select name="pirtelot">
                <option th:each="pirtelo: ${pirtelot}" th:text="${pirtelo.getNimi()}">Pirtel&ouml;n nimi</option>
            </select>
            <br/>
            Valitse aines:<br/>
            <select name="ainekset">
                <option th:each="aines: ${ainekset}" th:text="${aines.getNimi()}">Aineksen nimi</option>
            </select>
            <br/><br/><input type="submit" value="Lis&auml;&auml; aines"/>
        </form>-->

    </body>
</html>
